:root {
  --dark-color: rgb(37, 37, 37);
  --primary-color: rgb(12, 109, 136);
  --gray-color: rgb(119, 119, 119);
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-col {
  display: flex;
}

.nav-link {
  padding: 14px;
  display: block;
  text-decoration: none;
  color: var(--dark-color);
}

.name {
  color: var(--primary-color);
}
.img1 {
  width: 600px;
}

.body-img {
  margin-top: 50px;
}
p {
  color: var(--gray-color);
}
.text {
  width: 1200px;
}
.mt-5 {
  margin: 10px;
}

@media screen and (max-width: 800px) {
  .nav {
    display: block;
  }
  .nav1 {
    margin: auto;
    justify-content: space-between;
  }

  .a1 {
    display: none;
  }

  .img1 {
    width: 300px;
  }
  .text {
    font-size: 0;
  }
  h3 {
    width: 300px;
  }
}
